/* General CSS begins */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
	font-size: 62.5%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 2.0rem;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    width: 80%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

h1 {
    font-size: 5.0rem;
    font-weight: 700;
}

h2 {
    font-size: 3.8rem;
    font-weight: 700;
}

h3 {
    font-size: 3.0rem;
}

h4 {
    font-size: 1.8rem;
    
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.3rem;
    text-transform: lowercase;
}

img {
    display: block;
}

input[type="submit"]{
    cursor:pointer;
}

/* General CSS ends */


/* home page begins */
/* Header begins */

#home {
    background-image: url(../assets/home-1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    padding-top:1px;
}

header .wrapper {
    margin-top: 30px;
    margin-bottom: 15px;
}

header ul {
    padding:0;
    position:relative;
}

header li {
    display: inline-block;
    text-transform: uppercase;
}

header a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-family: Montserrat;

}

header .navLeft, header .navLogo, header .navRight {
    float:left;
    vertical-align: middle;
}

.navLeft, .navRight {
    width:27%
}

.navLeft li, .navRight li { 
    margin-right: 30px; 
}

header .navLogo {
    width: 46%;
    text-align:center;
    margin: 0 auto;
}

.navLogo a:hover {
    text-decoration:none;
}

header .navRight {
    text-align: right;    
}


header h2{
    margin: 0;
    text-transform: uppercase;
}

header a:hover {
    text-decoration: line-through;
}

header i {
    font-size: 2.0rem;
}

i.fa-shopping-bag {
    position:relative
}

.counter {
    background: #c3dab7;
    border-radius:50%;
    height: 1.7rem;
    width: 1.7rem;
    text-align:center;
    position:absolute;
    bottom: -10px;
    right: 21px;
}
/* Header ends */

/* mission section begins */

.mission {
    background:#c3dab7;
    padding: 150px 0 20px 0
}

.mission .wrapper {
    width:60%;
}

.image.container {
    width:50%;
    margin: 0 auto;
    position: relative;
}

.mission .mainPic {
    margin: 0 auto;
    display: block;
    width: 100%;
}

.decor {
    position: absolute;
    top: -69px;
    left: -80px;
    width: 45%;
}

.mission h5 {
    font-family: Montserrat;
    text-transform: uppercase;
    margin: 10px 0;
}

.mission .content.container {
    width: 90%;
    margin: 0 auto;
}

.mission .branding, .mission .design {
    float:left;
    margin: 30px 0px;
    width: calc(50% - 0px); 
    text-align:center;
}

.mission p {
    padding: 0 20px;
}
/* mission section ends */

/* carousel section */

.carousel {
    margin: 120px 0  100px;
}

.carousel .wrapper {
    position:relative;
}
.carousel .wrapper::before {
    font-family: "Font Awesome 5 free";
    content:"\f104";
    position: absolute;
    color:#000000;
    font-weight:900;
    font-size: 4.8rem;
    top: 50%;
    transform: translatey(-50%);
}

.carousel .wrapper::after {
    font-family: "Font Awesome 5 Free";
    content:"\f105";
    position: absolute;
    color:#999999;
    font-weight:900;
    font-size: 4.8rem;
    bottom: 50%;
    right:0;
    transform: translatey(50%);
    
}

.carousel .container {
    width:20%;
    margin: 0 auto;    
}

.carousel img {
    border-radius:50%;
    width:100%;
}

.carousel h6 {
    margin: 30px auto;
    width: 60%;
    font-family: 'Open Sans', sans-serif;
    color:#666666;
    text-align: center;
    line-height: 2.3rem;
    text-transform: none;
}

/* features section */
.features {
    background-image: url(../assets/home-4.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    min-height: 90vh;
    display: table;
}

.features .container {
    margin: 60px 0;
}

.features .contentContainer {
    float: right;
    width: calc(50% - 80px);
    margin-right: 80px;
}


.features .left, .features .right {
    width: calc(50% - 10px);
    float: left;
    
}

.features .left {
    margin-right: 10px;
}

.features .right {
    margin-left: 10px;
}

.faContainer {
    width:calc(15%);
}

.featureContainer {
    width: calc(85% - 20px);
    margin-left: 20px;
}

.features .faContainer, .features .featureContainer {
    float: left;
}

.featureContainer h5 {
    margin: 0;
}

.features .fas, .features .far {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
    padding: 12.5px;
    font-size: 20px;
}

.features p {
    color:#999999;
}

/* team section */

.team {
    padding: 50px 0;
}

.team h4 {
    margin: 100px 0; 
    text-align: center;
    margin-bottom: 100px;
}

.team h6 {
    text-transform: uppercase;
}

.team .left {
    margin-right: 20px;
}

.team .right {
    margin-left: 20px;
}

.team .left, .team .right {
    float: left;
    width: calc(50% - 20px);
}

.teamDescription {
    background: #f6f6f6;
    width: calc(100%);
    /* height: 340px; */
    padding: 50px 30px 25px;
    
} 

.teamDescription, .right .five, .right .six {
    margin-bottom: 40px;
}

.headshot, .right .joinUs {
    width: calc(50vw - 20px);
    height: 50vw; 
    float: left;
}

.left .seven, .right .five, .right .nine {
    margin-right: 20px;
}

.left .eight, .right .six, .right .joinUs {
    margin-left: 20px;
}

.team img {
    width: 100%;
}

.joinUs {
    display: table;
}

.team a {
    text-decoration: none;
    text-align: center;
    font-family: Montserrat;
    color:#000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    display: table-cell;
    vertical-align: middle;
}


/* portfolio section */

.portfolio .container {
    display: table;
    width: 50%;
    height: 649px;
    float: left;
}

.portfolio .content {
    display: table-cell;
    background: rgb(195, 218, 183);
    padding: 150px 170px;
    vertical-align: middle;
    text-align: center;
}

.portfolio img {
    width: 100%;
    display:block;    
}

.portfolio p {
    margin: 40px 0;
    color: #666666;
}

.portfolio button {
    background: white;
    border: none;
    padding: 10px 15px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 24px;
}

.portfolio a {
    text-decoration: none; 
    color: inherit;
    /* padding:  */
}

/* footer section */
footer {
    padding: 100px 0 1px;
    background: rgb(51, 51, 51);
    color: whitesmoke;
}

footer ul {
    padding: 0;
}

footer div:nth-child(n+2) {
    float: left;
}

footer .contact {
    width: calc(40%);
    float: left;
}

footer .posts {
    width: calc(20%);
}

footer .subscribe {
    width: calc(40%);
}

footer .contact li {
    list-style: none;
}

footer .social {
    font-size: 1.5rem;
}

footer .social li {
    display: inline-block;
    margin-right: 5px;
    
}

footer .social a {
    color: whitesmoke;
    font-weight: 400;
    padding-right: 15px;
}

footer .posts li {
    list-style-position: inside;
}

footer .posts h5 {
    text-align: center;
}

footer .subscribe {
    text-align: right;
}

footer .subscribe form {
    float: right;
    margin: 20px 0;
}

footer .subscribe input {
    float: left;
    height: 26px;
    padding: 12px;
}

footer .subscribe button {
    background:#c3dab7;
    height: 26px;
    display: inline-block;
    width: 34px;
    border: none;
}

footer .creative {
    clear: both;
    text-align: center;
    text-transform: uppercase;
    padding: 100px 0 40px;
    letter-spacing: 7px;

}
/* home page ends */

/* contact page begins */
/* contact us begins */

.contactUs {
    padding-bottom: 60px
}

.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.background.thin {
    background-image:url(../assets/contact-1.jpeg);
    height:40vh;
}

.background.thin .wrapper{
    position: relative;
}

.background.thin .heading {
    position: absolute;
    top: 145px;
}

.background.thin h1 {
    line-height: 5.5rem;
    max-width: 20%;
}

.background.full {
    background-image:url(../assets/contact-2.jpeg);
    height:80vh;
}

.contactInfo .container {
    width: 50%;
}

.contactInfo h5, .contactMethod h6, .contactForm h5 {
    font-weight: 700;
}

.contactInfo h5 {
    margin-top: 130px;
}

.contactInfo p, .contactForm p {
    color:#666666;
}
.contactInfo .container p, .contactForm p {
    margin: 0;
}

.contactMethod.container {
    width: 80%;
    margin-top: 50px;
}

.contactMethod .method {
    float: left;
    width: calc(33% -30px);
    padding: 30px 60px 30px 30px;

}

.contactMethod .method2{
    border-left: 1px solid rgba(204, 204, 204, 0.5);
    border-right: 1px solid rgba(204, 204, 204, 0.5);
}

.contactMethod i{
    font-size: 3rem;
}

.contactMethod h6 {
    letter-spacing:5px;
    text-transform: uppercase;
    margin: 20px 0px;
}

form.message .container input{
    float: left;
    width:calc(33% - 10px);
    margin: 20px 10px 20px 0;
    
}


.contactForm textarea, .contactForm input:not(.send){
    padding-bottom: 10px;
    line-height: 1.5rem;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.contactForm textarea {
    width: 100%;
    margin-bottom: 20px;
}

.contactForm .send {
    display: block;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-weight:700;
    margin: 10px 0;
    padding: 5px 0
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #999;
}

input:focus::-moz-placeholder {
    color: black;
}



/* contact page ends */